.slide-under-toggle {
  cursor: pointer; }

.slide-under-container {
  z-index: 1; }

.slide-under-container,
.slide-under-masque,
.slide-under-over,
.slide-under-under {
  position: absolute; }

.slide-under-masque,
.slide-under-over {
  top: 0;
  left: 0; }

.slide-under-masque {
  overflow: hidden;
  height: 100%; }
