.slide-under-toggle {
  cursor: pointer;
}
.slide-under-container {
  z-index: 1;
}
.slide-under-container,
.slide-under-masque,
.slide-under-over,
.slide-under-under {
  position: absolute;
}
.slide-under-masque {
  overflow: hidden;
  height: 100%;
}
