.toggle {
  margin: 10px 0;
  display: inline-block; }
  .toggle .toggle-show {
    display: inline; }
  .toggle .toggle-hide {
    display: none; }
  .toggle.uls-active .toggle-show {
    display: none; }
  .toggle.uls-active .toggle-hide {
    display: inline; }

.over {
  width: 100%;
  height: 100px;
  background-color: #79d26e; }
