.toggle {
  margin: 10px 0;
  display: inline-block;
  .toggle-show {
    display: inline;  
  }
  .toggle-hide {
    display: none;
  }
  &.slide-under-active {
    .toggle-show {
      display: none;  
    }
    .toggle-hide {
      display: inline;
    }
  }
}

.over {
  width: 100%;
  height: 100px;
  background-color: #000;
}

.slide-under-showing>.over{
  background-color: #C6364D;
}

.slide-under-hiding>.over{
  background-color: #BDCD38;
}

#slide-under-masque-space-needle {
  left: 300px;
}

.slide-under-toggle {
  cursor: pointer;
}
